<div class="container"> 
	<div class="row"> 
		<div class="card col s12"> 
			<div class="card-content">
				<div class="card-title">새 글 작성하기</div>
				<%= form_tag posts_path, multipart: true do %>
				<div class="iput-field">
					<%= file_field_tag :image %>
				</div>
				
				<div class="input-field">
					<%= text_area_tag :content, nil, class: "materialize-textarea", placeholder: "무슨 생각을 하고 있나요?" %> </div> 
				<div class="input-field">
					<%= button_tag "작성하기", class: "btn" %> </div> <% end %> 
			</div> 
		</div>
	</div> 
</div>

